* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#board {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  box-sizing: content-box;
}

.cell {
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

#reset-btn {
  position: absolute;
  top: 300px;
  left: calc(50% - 250px);
  width: 500px;
  height: 80px;
  font-size: 48px;
  background-color: white;
  appearance: none;
  cursor: pointer;
  color: red;
  border: 5px solid red;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  z-index: 1;
}

